@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

body {
  /* background: #ebebeb; */
  background: #282828;
  height: auto;
}
.ant-btn{
  color: #8b13cc
}

.ant-btn:hover{
  color: #7b12b4;
  border-color: #8b13cc !important;
}
.ant-btn-primary {
  background-color: #8b13cc;
  color: #fff;
  border-color: #8b13cc !important;
}

.ant-btn-danger:hover{
  color: #fff !important;
  border-color: #fff !important;
  background:#ec0a0a
}

.ant-badge-count{
  background: #5b018a;
}
.ant-tabs{
  color: rgba(255,255,255,0.65);
}

/* .ant-checkbox-checked .ant-checkbox-inner {
  background-color: red;
  border-color: red;
} */

.ant-form-item{
    color:rgba(255,255,255,1)
}
input:focus, input:checked, input:active, input:focus-within, input:visited, input:hover{
  border-color: #8b13cc !important;
}

.ant-input-affix-wrapper .ant-input:not(:first-child) {
  padding-left: 40px;
  /* border: 1px solid #8e0fd3; */
}

.ant-btn-primary:hover, .ant-btn-primary:focus{
  background-color: #a714f7;
  color: #fff;
  border-color: #a714f7 !important;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #222222;
}

*::-webkit-scrollbar {
  width: 10px;
  background-color: #222222;
}

*::-webkit-scrollbar-thumb {
  background-color: #7b12b4;
  background: linear-gradient(
    180deg,
    #5b018a 0%,
    #6e00a8 100%
  );
}
