.home-page {
  margin-bottom: 4rem;
}

.homepage-tags {
  margin-top: 10px;
  width: 80%;
  margin: 0 auto;
}

.homepage-tags-header {
  font-size: 2.3rem;
  font-weight: 500;
  margin-bottom: 3rem;
  text-align: center;
}

.searchInput {
  margin: 5px 0px 20px;
  width: 50%;
}

.searchInput input {
  border-radius: 30px;
  border: none;
  /* width: 20%; */
  box-shadow: -8px -8px 30px rgba(122, 134, 151, 0.101672),
    8px 8px 30px rgba(0, 0, 0, 0.353065);
  background: #303134;
  color: rgba(255, 255, 255, 0.8);
}

.ant-input:focus {
  outline: none !important;
  border-color: #9002dd !important;
  box-shadow: none;
}
.searchInput .ant-input:focus {
  outline: none !important;
  border-color: #9002dd !important;
  box-shadow: -8px -8px 20px rgba(122, 134, 151, 0.101672),
    8px 8px 20px rgba(0, 0, 0, 0.353065);
  /* width: 50%; */
}
.TutsSpan {
  --x: 50%;
  --y: 50%;

  position: relative;
  appearance: none;
  padding: 10px 15px;
  color: white;
  outline: none;
  border-radius: 10px;
  border: 4px solid transparent;
  background: linear-gradient(#282828, #282828) padding-box,
    radial-gradient(farthest-corner at var(--x) var(--y), #00c9a7, #610094)
      border-box;
}

.news-main-div {
  /* background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover */
  font-size: 1.1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 15px;
  display: flex;
  align-items: end;
}

.outer-news-div {
  border-radius: 15px;
  background-color: transparent !important;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 4px 0px,
    rgba(0, 0, 0, 0.32) 0px 2px 16px 0px;
}

.outer-news-div:hover {
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px; */

  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 16px,
    rgba(0, 0, 0, 0.1) 0px 8px 24px, rgba(0, 0, 0, 0.1) 0px 16px 56px;
}

/* .outer-news-div:hover, .news-main-div:hover{
  transform: scale(1.02);
} */

.news-title-div {
  display: flex;
  width: 100%;
  padding: 50px 0px 30px 10px;
  border-radius: 0px 0px 15px 15px;
  color: #fff;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.98),
    rgba(0, 0, 0, 1)
  );
}

@media screen and (max-width: 768px) {
  .searchInput {
    width: 85%;
  }
}
