.tutorials-by-tag {
  min-height: calc(100vh - 4rem);
  width: 80%;
  margin: 3rem auto;
}

.tutorial-title {
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
}

.filter-title {
  color: #a714f7;
}

.filter {
  margin: 0.7rem 0;
}

.filters {
  margin-top: 20px;
  background: #1f1f1f;
  color: #fff;
  padding: 25px;
  border-radius: 15px;
  box-shadow: rgb(0 0 0 / 20%) 0px 20px 30px;
}

.ant-checkbox-wrapper {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.75);
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #a714f7;
  border-color: #a714f7 !important;
}

.ant-checkbox:hover {
  border-color: #a714f7 !important;
}

.filter-type {
  text-align: left;
  font-weight: 600;
}

.nothing-matched {
  margin-top: 2rem;
  font-size: 1rem;
}

.compare-details {
  padding: 20px 15px 10px;
  border-radius: 15px 15px 0px 0px;
  width: 80%;
  background: black;
  position: fixed;
  bottom: 0;
  left: 10%;
  z-index: 3000;
}

.ReactSwipeableBottomSheet--closed {
  background-color: transparent !important;
  border-radius: 15px 15px 0px 0px;
}

.ReactSwipeableBottomSheet--open {
  border-radius: 15px 15px 0px 0px;
  background-color: transparent !important;
}

.react-swipeable-view-container {
  width: 90%;
  border-radius: 15px 15px 0px 0px;
  margin: 0px auto;
  z-index: 99999;
  /* box-shadow:rgba(98, 0, 148, 0.7) 30px 0px 30px !important; */
}

/* .ant-table table{
  display: flex !important;
  flex-direction: row !important;
}
.ant-table-thead{
  display: flex !important;
}

.ant-table-thead > tr, .ant-table-tbody > tr{
  display: flex !important;
  flex-direction: column !important;
}

.ant-table-tbody{
  display: flex !important;
} */

.ant-table ::-webkit-scrollbar {
  background: #f1f1f1 !important;
  width: 5px !important;
}

/* Track */
.ant-table ::-webkit-scrollbar-track {
  background: #f1f1f1 !important;
  border-radius: 8px !important;
  width: 5px !important;
}

/* Handle */
.ant-table ::-webkit-scrollbar-thumb {
  background: #888 !important;
  border-radius: 8px !important;

}

/* Handle on hover */
.ant-table ::-webkit-scrollbar-thumb:hover {
  background: #555 !important;
}

@media screen and (max-width: 992px) {
  .filters {
    padding: 15px;
  }
}

@media screen and (max-width: 768px) {
  .tutorial-title {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 576px) {
  .filter-type {
    text-align: left;
  }
}

@media screen and (min-width: 1800px) {
  .ant-table-body{
    overflow-x: auto !important;
  }    
}