.tutorial-card {
  min-height: 170px;
  user-select: none;
  cursor: pointer;
  color: white;
  background-color: #353535;
  border: none !important;
  margin-top: 20px;
  transition-duration: 0.3s;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
}

.recommended-card {
  --x: 50%;
  --y: 50%;

  position: relative;
  appearance: none;
  padding: 0px;
  color: white;
  outline: none;
  border-radius: 10px;
  border: 4px solid transparent;
  background: radial-gradient(
        circle,
        rgb(45, 0, 70) 0%,
        rgba(16, 9, 20, 1) 100%
      )
      padding-box,
    radial-gradient(farthest-corner at var(--x) var(--y), #00c9a7, #610094)
      border-box;

  min-height: 170px;
  /* user-select: none; */
  cursor: pointer;
  color: white;
  background-color: #1d1d1d;
  transition-duration: 0.3s;
}

.main-card-cointainer {
  position: relative;
  margin-top: 20px;
}

.recommended-div {
  font-size: 1.2rem;
  padding: 5px 10px;
  background: #219e18;
  color: #fff;
  border-radius: 10px;
  position: absolute;
  top: -15px;
  left: calc(50% - 85px);
  z-index: 5;
}

.btnContainer {
  display: flex;
  justify-content: space-between;
}

/* .tutorial-card:hover {
  transform: translateX(-2px) translateY(-2px);
  box-shadow: 2px 2px 5px 0px #0787e6;
} */

.card-title {
  font-size: 1.2rem;
  border-bottom: 2px solid #8e0fd3;
  padding-bottom: 10px;
  font-weight: 600;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.tutorial-name {
  display: inline-block;
  width: 80%;
}

.card-entries {
  margin-bottom: 1.2rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.65);
  font-size: 1rem;
}

.card-entries span {
  color: white;
}

.upvote-button {
  margin-bottom: 5px;
}

.compare-div {
  margin-top: -10px;
  z-index: -200;
  padding: 20px 20px 10px;
  background-color: #202020;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
}

.add-compare {
  padding: 5px 10px;
  background: #9a14e2;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 14px;
  color: white;
  width: 160px;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media screen and (max-width: 768px) {
  .tutorial-card:hover {
    transform: none;
    box-shadow: none;
  }

  .card-title {
    font-size: 1rem;
  }
  .btnContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .card-entries {
    margin-bottom: 1rem;
    font-size: 0.9rem;
  }
}
